font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shizuru', cursive;
font-family: 'Varela Round', sans-serif;

.homepage{background-color:#FDF8CB; }

body {
  font-family:'Roboto', sans-serif;
  background-color:white;  
}



ul{
list-style-type:none;
}

.nav li a{
 
  display: block;
  color:black;
  opacity: 0.5;
  text-decoration:none;
  position: absolute;
width: 303px;
height: 45px;
left: 122px;
top: 949px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;

color: #000000;

 

}

.nav li a:hover{
  opacity:1;
}

.studio li a{
  position: absolute;
width: 503px;
height: 45px;
left: 502px;
top: 954px;
text-decoration:none;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;

color: #000000;
opacity: 0.5;

  
}

.studio li a:hover{
  opacity:1;
}

.name li a{
position: absolute;
width: 974px;
height: 285px;
left: 122px;
top: 791px;
text-decoration:none;

font-family: Apple SD Gothic Neo;
font-style: normal;
font-weight: normal;
font-size: 135px;
line-height: 162px;

color: #000000;

mix-blend-mode: luminosity;

}

.about li a{
  position: absolute;
width: 503px;
height: 33px;
left: 859px;
top: 954px;
text-decoration:none;
opacity: 0.5;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;

color: #000000;

}

 .about li a:hover{
  opacity:1;
}

.portfoilo li a{
  position: absolute;
width: 503px;
height: 45px;
left: 1225px;
top: 954px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;

color: #000000;
text-decoration:none;
opacity: 0.5;
}

 .portfoilo li a:hover{
  opacity:1;
}


img{
 
position: absolute;
width: 709px;
height: 593px;
left: 609px;
top: 198px;

 
}


.rec1{
  position: absolute;
width: 176px;
height: 84px;
left: 852px;
top: 470px;

border: 5px solid #C1FFB7;
box-sizing: border-box;
}

.rec2{
 position: absolute;
width: 227px;
height: 316px;
left: 243px;
top: 373px;

  border: 5px solid #C1FFB7;
box-sizing: border-box;

}

.rech1{
 position: absolute;
width: 172px;
height: 118.5px;
left: 568px;
top: 212px;
 
border: 5px solid #C1FFB7;
box-sizing: border-box
}

.rech2{
  
position: absolute;
width: 168px;
height: 107px;
left: 1205px;
top: 743px;

  border: 5px solid #C1FFB7;
box-sizing: border-box

}

.tyrec{
  position: absolute;
width: 83px;
height: 134px;
left: 117px;
top: 791px;

border: 5px solid #C1FFB7;
box-sizing: border-box;
}
